[data-app-scheme='darkest'] {
  --gray-50: #000;
  --gray-75: #0e0e0e;
  --gray-100: #1d1d1d;
  --gray-200: #303030;
  --gray-300: #4b4b4b;
  --gray-400: #6a6a6a;
  --gray-500: #8d8d8d;
  --gray-600: #b0b0b0;
  --gray-700: #d0d0d0;
  --gray-800: #ebebeb;
  --gray-900: #fff;

  --red-100: #570000;
  --red-200: #6e0000;
  --red-300: #8a0000;
  --red-400: #a70000;
  --red-500: #c40706;
  --red-600: #dd2118;
  --red-700: #ee4331;
  --red-800: #f9634c;
  --red-900: #ff816b;
  --red-1000: #ff9e8c;
  --red-1100: #ffb7a9;
  --red-1200: #ffcdc3;
  --red-1300: #ffdfd9;

  --orange-100: #481801;
  --orange-200: #5c2000;
  --orange-300: #732b00;
  --orange-400: #8a3700;
  --orange-500: #a24400;
  --orange-600: #ba5200;
  --orange-700: #d26200;
  --orange-800: #e87400;
  --orange-900: #f98917;
  --orange-1000: #ffa23b;
  --orange-1100: #ffbc66;
  --orange-1200: #fdd291;
  --orange-1300: #ffe2b5;

  --yellow-100: #352400;
  --yellow-200: #442f00;
  --yellow-300: #563e00;
  --yellow-400: #674d00;
  --yellow-500: #7a5c00;
  --yellow-600: #8d6c00;
  --yellow-700: #a17e00;
  --yellow-800: #b49000;
  --yellow-900: #c7a200;
  --yellow-1000: #d8b500;
  --yellow-1100: #e9c700;
  --yellow-1200: #f7d804;
  --yellow-1300: #f9e961;

  --chartreuse-100: #202b00;
  --chartreuse-200: #2a3800;
  --chartreuse-300: #364800;
  --chartreuse-400: #425800;
  --chartreuse-500: #4f6900;
  --chartreuse-600: #5d7b00;
  --chartreuse-700: #6b8e00;
  --chartreuse-800: #7aa100;
  --chartreuse-900: #8ab403;
  --chartreuse-1000: #9ac60b;
  --chartreuse-1100: #aad816;
  --chartreuse-1200: #bbe829;
  --chartreuse-1300: #cdf648;

  --celery-100: #002f07;
  --celery-200: #003d09;
  --celery-300: #004d0c;
  --celery-400: #005f0f;
  --celery-500: #00710f;
  --celery-600: #00840f;
  --celery-700: #009714;
  --celery-800: #0dab25;
  --celery-900: #2dbf3a;
  --celery-1000: #50d052;
  --celery-1100: #73e06b;
  --celery-1200: #93ed83;
  --celery-1300: #b4f7a2;

  --green-100: #0a2c1c;
  --green-200: #073b24;
  --green-300: #004c2e;
  --green-400: #005d39;
  --green-500: #006f45;
  --green-600: #008252;
  --green-700: #009562;
  --green-800: #1ca872;
  --green-900: #34bb84;
  --green-1000: #4bcd95;
  --green-1100: #67dea8;
  --green-1200: #89ecbc;
  --green-1300: #b1f4d1;

  --seafoam-100: #122b2a;
  --seafoam-200: #133937;
  --seafoam-300: #104946;
  --seafoam-400: #035b58;
  --seafoam-500: #006c68;
  --seafoam-600: #007f79;
  --seafoam-700: #00928c;
  --seafoam-800: #00a59f;
  --seafoam-900: #1ab9b2;
  --seafoam-1000: #42cac3;
  --seafoam-1100: #66dad3;
  --seafoam-1200: #8be8e1;
  --seafoam-1300: #b3f2ed;

  --cyan-100: #002944;
  --cyan-200: #003658;
  --cyan-300: #00456c;
  --cyan-400: #005680;
  --cyan-500: #006793;
  --cyan-600: #0079a7;
  --cyan-700: #008cba;
  --cyan-800: #04a0cd;
  --cyan-900: #17b4dd;
  --cyan-1000: #39c7ea;
  --cyan-1100: #60d8f3;
  --cyan-1200: #86e6fa;
  --cyan-1300: #aaf2ff;

  --blue-100: #002651;
  --blue-200: #00326a;
  --blue-300: #004087;
  --blue-400: #004ea6;
  --blue-500: #005cc8;
  --blue-600: #066ce7;
  --blue-700: #1d80f5;
  --blue-800: #4096f3;
  --blue-900: #5eaaf7;
  --blue-1000: #7cbdfa;
  --blue-1100: #98cefd;
  --blue-1200: #b3defe;
  --blue-1300: #ceeaff;

  --indigo-100: #1a1d61;
  --indigo-200: #23277d;
  --indigo-300: #2e329e;
  --indigo-400: #3a3fbd;
  --indigo-500: #494ed8;
  --indigo-600: #5a60eb;
  --indigo-700: #6e73f6;
  --indigo-800: #8488fd;
  --indigo-900: #999dff;
  --indigo-1000: #aeb1ff;
  --indigo-1100: #c2c4ff;
  --indigo-1200: #d4d5ff;
  --indigo-1300: #e3e4ff;

  --purple-100: #321068;
  --purple-200: #430d8c;
  --purple-300: #5610ad;
  --purple-400: #6a1dc8;
  --purple-500: #7e31de;
  --purple-600: #9146ec;
  --purple-700: #a25ef6;
  --purple-800: #b277fa;
  --purple-900: #c08ffc;
  --purple-1000: #cea6fd;
  --purple-1100: #dbbcfe;
  --purple-1200: #e6cfff;
  --purple-1300: #f0e0ff;

  --fuchsia-100: #460e44;
  --fuchsia-200: #5d095c;
  --fuchsia-300: #780078;
  --fuchsia-400: #920093;
  --fuchsia-500: #a913aa;
  --fuchsia-600: #bf2bbf;
  --fuchsia-700: #d341d5;
  --fuchsia-800: #e45be5;
  --fuchsia-900: #ef78ee;
  --fuchsia-1000: #f695f3;
  --fuchsia-1100: #fbaff6;
  --fuchsia-1200: #fec7f8;
  --fuchsia-1300: #ffdcfa;

  --magenta-100: #530329;
  --magenta-200: #6a0034;
  --magenta-300: #850041;
  --magenta-400: #a1004e;
  --magenta-500: #ba165d;
  --magenta-600: #d12b72;
  --magenta-700: #e34589;
  --magenta-800: #f1619c;
  --magenta-900: #fc7cad;
  --magenta-1000: #ff98bf;
  --magenta-1100: #ffb3cf;
  --magenta-1200: #ffcadd;
  --magenta-1300: #ffdde9;

  /* TEMPORARY */
  --background-color: var(--gray-100);
  --highlight-hover: rgb(255 255 255 / 0.1);
  --highlight-pressed: rgb(255 255 255 / 0.2);
}
