[data-app-scheme='dark'] {
  --gray-50: #1d1d1d;
  --gray-75: #262626;
  --gray-100: #323232;
  --gray-200: #3f3f3f;
  --gray-300: #545454;
  --gray-400: #707070;
  --gray-500: #909090;
  --gray-600: #b2b2b2;
  --gray-700: #d1d1d1;
  --gray-800: #ebebeb;
  --gray-900: #fff;

  --red-100: #7b0000;
  --red-200: #8d0000;
  --red-300: #a50000;
  --red-400: #be0403;
  --red-500: #d71913;
  --red-600: #ea3829;
  --red-700: #f65843;
  --red-800: #ff755e;
  --red-900: #ff9581;
  --red-1000: #ffb0a1;
  --red-1100: #ffc9bd;
  --red-1200: #ffded8;
  --red-1300: #fff1ee;

  --orange-100: #662500;
  --orange-200: #752d00;
  --orange-300: #893700;
  --orange-400: #9e4200;
  --orange-500: #b44e00;
  --orange-600: #ca5d00;
  --orange-700: #e16d00;
  --orange-800: #f4810c;
  --orange-900: #fe9a2e;
  --orange-1000: #ffb558;
  --orange-1100: #fdce88;
  --orange-1200: #ffe1b3;
  --orange-1300: #fff2dd;

  --yellow-100: #4c3600;
  --yellow-200: #584000;
  --yellow-300: #674c00;
  --yellow-400: #775900;
  --yellow-500: #886800;
  --yellow-600: #9b7800;
  --yellow-700: #ae8900;
  --yellow-800: #c09c00;
  --yellow-900: #d3ae00;
  --yellow-1000: #e4c200;
  --yellow-1100: #f4d500;
  --yellow-1200: #f9e85c;
  --yellow-1300: #fcf6bb;

  --chartreuse-100: #304000;
  --chartreuse-200: #374a00;
  --chartreuse-300: #415700;
  --chartreuse-400: #4c6600;
  --chartreuse-500: #597600;
  --chartreuse-600: #668800;
  --chartreuse-700: #759a00;
  --chartreuse-800: #84ad01;
  --chartreuse-900: #94c008;
  --chartreuse-1000: #a6d312;
  --chartreuse-1100: #b8e525;
  --chartreuse-1200: #cdf547;
  --chartreuse-1300: #e7fe9a;

  --celery-100: #00450a;
  --celery-200: #00500c;
  --celery-300: #005e0e;
  --celery-400: #006d0f;
  --celery-500: #007f0f;
  --celery-600: #009112;
  --celery-700: #04a51e;
  --celery-800: #22b833;
  --celery-900: #44ca49;
  --celery-1000: #69dc63;
  --celery-1100: #8eeb7f;
  --celery-1200: #b4f7a2;
  --celery-1300: #ddfdd3;

  --green-100: #044329;
  --green-200: #004e2f;
  --green-300: #005c38;
  --green-400: #006c43;
  --green-500: #007d4e;
  --green-600: #008f5d;
  --green-700: #12a26c;
  --green-800: #2bb47d;
  --green-900: #43c78f;
  --green-1000: #5ed9a2;
  --green-1100: #81e9b8;
  --green-1200: #b1f4d1;
  --green-1300: #dffaea;

  --seafoam-100: #12413f;
  --seafoam-200: #0e4c49;
  --seafoam-300: #045a57;
  --seafoam-400: #006965;
  --seafoam-500: #007a75;
  --seafoam-600: #008c87;
  --seafoam-700: #009e98;
  --seafoam-800: #03b2ab;
  --seafoam-900: #36c5bd;
  --seafoam-1000: #5dd6cf;
  --seafoam-1100: #84e6df;
  --seafoam-1200: #b0f2ec;
  --seafoam-1300: #dff9f6;

  --cyan-100: #003d62;
  --cyan-200: #00476f;
  --cyan-300: #00557f;
  --cyan-400: #006491;
  --cyan-500: #0074a2;
  --cyan-600: #0086b4;
  --cyan-700: #0099c6;
  --cyan-800: #0eadd7;
  --cyan-900: #2cc1e6;
  --cyan-1000: #54d3f1;
  --cyan-1100: #7fe4f9;
  --cyan-1200: #a7f1ff;
  --cyan-1300: #d7faff;

  --blue-100: #003877;
  --blue-200: #00418a;
  --blue-300: #004da3;
  --blue-400: #0059c2;
  --blue-500: #0367e0;
  --blue-600: #1379f3;
  --blue-700: #348ff4;
  --blue-800: #54a3f6;
  --blue-900: #72b7f9;
  --blue-1000: #8fcafc;
  --blue-1100: #aedbfe;
  --blue-1200: #cce9ff;
  --blue-1300: #e8f6ff;

  --indigo-100: #282c8c;
  --indigo-200: #2f34a3;
  --indigo-300: #393fbb;
  --indigo-400: #464bd3;
  --indigo-500: #555be7;
  --indigo-600: #686df4;
  --indigo-700: #7c81fb;
  --indigo-800: #9195ff;
  --indigo-900: #a7aaff;
  --indigo-1000: #bcbeff;
  --indigo-1100: #d0d2ff;
  --indigo-1200: #e2e4ff;
  --indigo-1300: #f3f3fe;

  --purple-100: #4c0d9d;
  --purple-200: #5911b1;
  --purple-300: #691cc8;
  --purple-400: #7a2dda;
  --purple-500: #8c41e9;
  --purple-600: #9d57f3;
  --purple-700: #ac6ff9;
  --purple-800: #bb87fb;
  --purple-900: #ca9ffc;
  --purple-1000: #d7b6fe;
  --purple-1100: #e4ccfe;
  --purple-1200: #efdfff;
  --purple-1300: #f9f0ff;

  --fuchsia-100: #6b036a;
  --fuchsia-200: #7b007b;
  --fuchsia-300: #900091;
  --fuchsia-400: #a50da6;
  --fuchsia-500: #b925b9;
  --fuchsia-600: #cd39ce;
  --fuchsia-700: #df51e0;
  --fuchsia-800: #eb6eec;
  --fuchsia-900: #f48cf2;
  --fuchsia-1000: #faa8f5;
  --fuchsia-1100: #fec2f8;
  --fuchsia-1200: #ffdbfa;
  --fuchsia-1300: #ffeffc;

  --magenta-100: #76003a;
  --magenta-200: #890042;
  --magenta-300: #a0004d;
  --magenta-400: #b6125a;
  --magenta-500: #cb266d;
  --magenta-600: #de3d82;
  --magenta-700: #ed5795;
  --magenta-800: #f972a7;
  --magenta-900: #ff8fb9;
  --magenta-1000: #ffacca;
  --magenta-1100: #ffc6da;
  --magenta-1200: #ffdde9;
  --magenta-1300: #fff0f5;

  /* TEMPORARY */
  --background-color: var(--gray-100);
  --highlight-hover: rgb(255 255 255 / 0.1);
  --highlight-pressed: rgb(255 255 255 / 0.2);
}
